.bg-custom {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.bg-custom::before {
  content: " ";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  top: 0;
  position: absolute;
  background: linear-gradient(
    90deg,
    #181818 0,
    #181818 0,
    rgba(24, 24, 24, 0) 70%
  );
}
.bg-custom::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 0 100px 100px #181818;
}

.custom-height {
  height: 100dvh;
}
@media (max-width: 480px) {
  .custom-height {
    height: 60dvh;
  }
}
@media (min-width: 640px) and (max-width: 819px) {
  .custom-height {
    height: 80dvh;
  }
}

@media (min-width: 820px) {
  .custom-height {
    height: 100vh;
  }
}
a:hover {
  color: #00acc1;
  text-decoration: none;
}

